.fixed-bottom{
    >div:first-child{
        background-color: rgb(40, 37, 37);
    }
    >div:last-child{
        background-color: rgba(0, 0, 0, 0.8);
    }
}

i{     
    font-size: 23px;
}

#gianfranco{
    border-bottom: 1px solid grey;
}

.bordo-arrotondato{
    border-radius: 15px;
}

#playlist1{
    h3{
        font-size: 90%;
        margin-left: 10px;
    }
    img{
        border-radius: 10px;
        
    }
}

.mobile{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    img{
        max-width: 50%;
        @media screen and (min-width:1000px) {
            max-width: 100%;
        }
    }
    p{
        
        text-align: left;
    }
}

#right{
    #amici{
       justify-content: flex-end;
    }
    #attivita{
        display:flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        i{
            font-size: 16px;
        }
    }
    .window{
       transform: rotate(90deg);
    }
    .persona{
        display:flex;
        justify-content:between;
       flex-wrap: wrap;
 
       p,i{
          font-size: 0.6rem;
       }
       img{
          border-radius: 50%;
          width: 70%;
       }
    }
 }

/*pagina search*/
#div-search{
    text-align: center;
    div{
        div{
            margin: 10px;
            height: 130px;
            border-radius: 15px;
            text-align: left;

        }
        :first-child {
            background-color: #e03301;
        }
        :nth-child(2){
            background-color: #1e3264;
        }
        :nth-child(3){
            background-color: #e9105c;
        }
        :nth-child(4){
            background-color: #158a08;
        }
        :nth-child(5){
            background-color: #bc5800;
        }
        :nth-child(6){
            background-color:#d84000;
        }
        :nth-child(7){
            background-color: #de108b;
        }
        :nth-child(8){
            background-color: #84629f;
        }
        :nth-child(9){
            background-color: #f4ea1e;
        }
        :nth-child(10){
            background-color: #5db4e0;
        }
    
        
}
}

.bottom{
    height: 150px;
}