/*togliere lo scroll laterale*/
body {
    overflow-x: hidden;
  }
  /*mavbar sotto in mobile*/
.fixed-bottom {
    >div:first-child {
        background-color: rgb(40, 37, 37);
    }

    >div:last-child {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
/*impostazione icone generiche*/
i {
    font-size: 23px;
}
/*border navbar modalità desktop*/
#gianfranco {
    border-bottom: 1px solid grey;
}
/*impostazione generica border radius*/
.bordo-arrotondato {
    border-radius: 15px;
}
/*primi album in alto del main*/
#playlist1 {
    h3 {
        font-size: 90%;
        margin-left: 10px;
    }

    img {
        border-radius: 10px;

    }
}
/*secondi album in basso del main*/
.mobile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .album {
        display: flex;

        @media screen and (min-width:1000px) {
            display: block;
        }

        .icone-sotto-album {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
        }

        .testo {
            padding-left: 15px;
            :nth-child(2){
                font-weight: bold;
                
            }
            :nth-child(3) {
                align-self: flex-end;
                margin-top: 40%;
                
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                text-align: left;
            }

            

        }
    }

    img {
        max-width: 100%;

        @media screen and (min-width:1000px) {
            max-width: 100%;
        }
    }

}
/*impostazioni attività amici*/
#right {
    #amici {
        justify-content: flex-end;
    }

    #attivita {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        i {
            font-size: 16px;
        }
    }

    .window {
        transform: rotate(90deg);
    }

    .persona {
        display: flex;
        justify-content: between;
        flex-wrap: wrap;

        p,
        i {
            font-size: 0.6rem;
        }

        img {
            border-radius: 50%;
            width: 70%;
        }
    }
}

/*pagina search*/

#div-search {
    text-align: center;
    margin-bottom: 150px;

    

    #carte-search {
        font-size: 20px;
        font-weight: bold;
        picture{
            position: relative;
            left: 116%;
            @media screen and (min-width:600px) {
                left: 107%;
            }
            @media screen and (min-width:900px) {
                left: 105%;
            }
            img{
                position: absolute;
                right: 0px;
                width: 5.3rem;
                transform: rotate(30deg);
                @media screen and (min-width:600px) {
                    max-width: 5.5rem;
                }
            }
        }
        div {
            margin: 3%;
            height: 130px;
            border-radius: 15px;
            text-align: left;
            overflow: hidden;

        }

        .primo-child {
            background: rgb(224,51,1);
            background: linear-gradient(0deg, rgba(224,51,1,0.7819502801120448) 12%, rgba(224,51,1,1) 26%);
        }

        .secondo-child {
            background: rgb(30,50,100);
            background: linear-gradient(0deg, rgba(30,50,100,0.7819502801120448) 12%, rgba(30,50,100,1) 26%);
        }

        .terzo-child {
            background: rgb(233,16,92);
            background: linear-gradient(0deg, rgba(233,16,92,0.7819502801120448) 12%, rgba(233,16,92,1) 26%);
        }

        .quarto-child {
            background: rgb(21,138,8);
            background: linear-gradient(0deg, rgba(21,138,8,0.7819502801120448) 12%, rgba(21,138,8,1) 26%);
        }

        :nth-child(5) {
            background: rgb(188,88,0);
            background: linear-gradient(0deg, rgba(188,88,0,0.7819502801120448) 12%, rgba(188,88,0,1) 26%);
        }

        :nth-child(6) {
            background: rgb(216,64,0);
            background: linear-gradient(0deg, rgba(216,64,0,0.7819502801120448) 12%, rgba(216,64,0,1) 26%);
        }

        :nth-child(7) {
            background: rgb(222,16,139);
            background: linear-gradient(0deg, rgba(222,16,139,0.7819502801120448) 12%, rgba(222,16,139,1) 26%);
        }

        :nth-child(8) {
            background: rgb(132,98,159);
            background: linear-gradient(0deg, rgba(132,98,159,0.7819502801120448) 12%, rgba(132,98,159,1) 26%);
        }

        :nth-child(9) {
            background: rgb(244,234,30);
            background: linear-gradient(0deg, rgba(244,234,30,0.7819502801120448) 12%, rgba(244,234,30,1) 26%);
        }

        :nth-child(10) {
            background: rgb(93,180,224);
            background: linear-gradient(0deg, rgba(93,180,224,0.7819502801120448) 12%, rgba(93,180,224,1) 26%);
        }


    }
}

.bottom {
    height: 150px;
}