@charset "UTF-8";
/*togliere lo scroll laterale*/
body {
  overflow-x: hidden;
}

/*mavbar sotto in mobile*/
.fixed-bottom > div:first-child {
  background-color: rgb(40, 37, 37);
}
.fixed-bottom > div:last-child {
  background-color: rgba(0, 0, 0, 0.8);
}

/*impostazione icone generiche*/
i {
  font-size: 23px;
}

/*border navbar modalità desktop*/
#gianfranco {
  border-bottom: 1px solid grey;
}

/*impostazione generica border radius*/
.bordo-arrotondato {
  border-radius: 15px;
}

/*primi album in alto del main*/
#playlist1 h3 {
  font-size: 90%;
  margin-left: 10px;
}
#playlist1 img {
  border-radius: 10px;
}

/*secondi album in basso del main*/
.mobile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile .album {
  display: flex;
}
@media screen and (min-width: 1000px) {
  .mobile .album {
    display: block;
  }
}
.mobile .album .icone-sotto-album {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.mobile .album .testo {
  padding-left: 15px;
}
.mobile .album .testo :nth-child(2) {
  font-weight: bold;
}
.mobile .album .testo :nth-child(3) {
  align-self: flex-end;
  margin-top: 40%;
}
.mobile .album div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile .album div p {
  text-align: left;
}
.mobile img {
  max-width: 100%;
}
@media screen and (min-width: 1000px) {
  .mobile img {
    max-width: 100%;
  }
}

/*impostazioni attività amici*/
#right #amici {
  justify-content: flex-end;
}
#right #attivita {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#right #attivita i {
  font-size: 16px;
}
#right .window {
  transform: rotate(90deg);
}
#right .persona {
  display: flex;
  justify-content: between;
  flex-wrap: wrap;
}
#right .persona p,
#right .persona i {
  font-size: 0.6rem;
}
#right .persona img {
  border-radius: 50%;
  width: 70%;
}

/*pagina search*/
#div-search {
  text-align: center;
}
#div-search div div {
  margin: 10px;
  height: 130px;
  border-radius: 15px;
  text-align: left;
}
#div-search div :first-child {
  background-color: #e03301;
}
#div-search div :nth-child(2) {
  background-color: #1e3264;
}
#div-search div :nth-child(3) {
  background-color: #e9105c;
}
#div-search div :nth-child(4) {
  background-color: #158a08;
}
#div-search div :nth-child(5) {
  background-color: #bc5800;
}
#div-search div :nth-child(6) {
  background-color: #d84000;
}
#div-search div :nth-child(7) {
  background-color: #de108b;
}
#div-search div :nth-child(8) {
  background-color: #84629f;
}
#div-search div :nth-child(9) {
  background-color: #f4ea1e;
}
#div-search div :nth-child(10) {
  background-color: #5db4e0;
}

.bottom {
  height: 150px;
}

.freccia_indietro_album {
  font-size: 1.5rem;
}

.icone_album {
  font-size: 1.3rem;
}

.icona_play {
  font-size: 2.5rem;
  color: #1db954;
}

#immagine_album {
  background: linear-gradient(180deg, #1db954, #191414);
}

body {
  background: linear-gradient(180deg, rgb(33, 37, 41), black);
}

#riga_album {
  width: 92%;
  display: flex;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}

.icone_desktop_album {
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.8);
}
.icone_desktop_album i {
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */